:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --footer-background-color: #2f303a;
  --team-background-color: #f5f4fa;
}

/* позыцыонирование */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}


/* теги */
footer {
  background-color: var(--footer-background-color);
}

header {
  background-color: var(--primary-white-color);
}

main {
  background-color: var(--primary-white-color);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  margin: 0;
}
/* шапка */
.header-flex {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo-blue {
  color: var(--accent-color);
}

.logo-black {
  color: var(--title-text-color);
}
.logo-white {
  color: var(--primary-white-color);
}

.site-nav {
  display: flex;
  align-items: center;
  outline: 2px solid tomato;
}

.site-nav-link {
  display: flex;
}
.site-nav-link .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link.current {
  color: var(--accent-color);
}



.link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.address {
  display: flex;
  margin-left: auto;
}
.address-ul {
  display: flex;
}

.address .item + .item {
  margin-left: 50px;
}

.address-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  font-style: normal;
  display: flex;

}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}
/* мейн студия */
.hero,
h1 {
  color: var(--primary-white-color);
  background-color: var(--footer-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  width: 696px;
  margin-right: auto;
  margin-left: auto;
}

.button {
  border: 1px solid transparent;
}

.hero-button {
  display: flex;
  margin-top: 30px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  border-radius: 4px;
  text-align: center;
  min-width: 200px;
  border-color: var(--accent-color);
}

.advantages {
  font-size: 0;
}
.advantages-ul {
  display: flex;
  
  padding-left: 0;
  margin-top: 94px;
}
.advantages-ul .item {
  width: 270px;
  flex-wrap: wrap;
  margin-right: 30px;
}
.advantages-ul .item:nth-child(4n) {
  margin-right: 0;
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.advantages-text {
  margin-top: 10px;
  margin-bottom: 0;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.headlines {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.headline-ul {
  display: flex;
  padding: 0;
  margin-right: 30px;
}

.team {
  background-color: var(--team-background-color);
}
.employee-name {
  margin-top: 30px;
  margin-bottom: 0;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.profession-name {
  margin-top: 10px;
  margin-bottom: 0;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
/* мейн портфолио */
.portfolio-button {
  color: var(--title-text-color);
  background-color: var(--team-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.portfolio-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  color: var(--primary-text-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
/* футер */
.address-text {
  margin-top: 20px;
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
}
.pozithions:not(:first-child) {
  margin-top: 9px;
}
